/*----------------------- Login Style -----------------------------*/
#LoginBackGround {
    -fx-background-image: url('image/BackGrund.jpg');
}
#BestBankEverLabel{
    -fx-background-color: #3DE100;
    -fx-font-weight: BOLD;
    -fx-text-fill: WHITE;
}
#TopLabels{
    -fx-background-color: #424242;
    -fx-font-weight: BOLD;
    -fx-text-fill: WHITE;
}
#copyRightAndDateTime{
    -fx-font-size: 13;
    -fx-font-weight: BOLD;
    -fx-font-fill: WHITE;

}
#loginPane{
    -fx-background-color: WHITE;
}
#privatLabel{
    -fx-font-size: 30;
    -fx-font-weight: BOLD;
    -fx-font-fill: WHITE;

}
#privatLabel2{
    -fx-font-size: 25;
    -fx-font-weight: BOLD;
    -fx-font-fill: WHITE;
}

.tab-pane *.tab-header-background {
    -fx-background-color: WHITE;
}
#tabPane{
    -fx-effect: dropshadow(three-pass-box, WHITE, 50, 0.0, 0, 1);
}
#loginTabPane{
    -fx-background-color: WHITE;
}
#loginText{
    -fx-font-size: 15;
    -fx-font-weight: Bold;

}
#loginButton{
    -fx-background-color: #009dFF;
    -fx-text-fill: WHITE;
    -fx-font-size: 16;
    -fx-font-weight: BOLD;
}
#loginInfoLabelTitle{
    -fx-text-fill: BLACK;
    -fx-font-size: 14;
    -fx-font-weight: BOLD;
}
#loginInfoLabel{
    -fx-text-fill: BLACK;
    -fx-font-size: 14;
}
#employeeOf{
    -fx-text-fill: BLACK;
    -fx-font-size: 14;
    -fx-font-weight: BOLD;
}
/*------------------------------ Customer Ground ----------------------------------*/
#internetbankenLabel{
    -fx-font-size: 17;
    -fx-background-color: BLACK;
    -fx-text-fill: WHITE;
}
#topLabel{
    -fx-font-size: 15;
    -fx-background-color: BLACK;
    -fx-text-fill: WHITE;
}

#userName{
    -fx-font-size: 15;
    -fx-background-color: BLACK;
    -fx-text-fill: WHITE;
}
.menu-bar{
    -fx-background-color: #424242;
    -fx-text-fill: WHITE;
}
.menu-bar *.label {
    -fx-font-size: 20;
    -fx-text-fill: WHITE;
}
.menu-item *.label{
    -fx-font-size: 18;
    -fx-text-fill: BLACK;
}
/*---------------------------- Customer Start Screen -----------------------------------*/
#messagePane{
    -fx-background-color: #BCBCBC;
}
#messageTitleLabel{
    -fx-font-size: 20;
    -fx-font-weight: BOLD;
}
#hyperLinksShortcut{
    -fx-font-size: 13;
    -fx-font-weight: BOLD;
}
#welcomeTitle{
    -fx-font-size: 40;
    -fx-font-weight: BOLD;
}
/*--------------------------------- Admin main ------------------------------------------*/
#adminMainAnchorPane{
    -fx-background-color: WHITE;
}
/*----------------------------- Admin New Customer --------------------------------------*/
#regNewCustomerLabel{
    -fx-font-size: 30;
    -fx-font-weight: BOLD;
}
#newCustomerLabel{
    -fx-font-size: 16;
}
#deleteCustomerButton{
    -fx-background-color: #FD3B3B;
    -fx-text-fill: WHITE;
    -fx-font-size: 16;
    -fx-font-weight: BOLD;
}
#employeeIDLabel{
    -fx-text-fill: #FD3B3B;
}
#showLoanButtons{
    -fx-font-weight: BOLD;
}